.bg-homePage{
  background:url("../../../assets/img/home-bg.png"),linear-gradient(rgba(247,247,247,0.3),rgba(35,181,211,0.8));
  background-repeat:no-repeat;
  background-size:contain;
}
.homePage-title{
  margin-top:6rem;
  font-size:2rem;
  font-weight:bold;
  margin-bottom:0.23rem;
}
.homePage_img4{
  display:inline-block;
  position:relative;
}

.homePage_img5{
  display:inline-block;
  position:relative;
}

.homePage_img6{
  display:inline-block;
  position:relative;
}

.homePage_img7{
  display:inline-block;
  position:relative;
}

.img-shadow{
  box-shadow:5px 5px 5px ghostwhite;
}
.shadow-reverse{
  box-shadow:-5px -5px 5px ghostwhite;
}
.vertical-line::before{
  content:"";
  position:absolute;
  bottom:1rem;
  top:-315px;
  width:1px;
  left:1px;
  background-color:black;
  opacity:0.5;
}
.IMG3{
  margin-top:150px;
}
@media screen and (min-width:800px){
  .homePage-section-1{
    margin-top:6rem;
  }
}
@media screen and (min-width:1000px){
  .homePage-section-1{
    margin-top:7rem;
  }
}
@media screen and (min-width:1500px){
  .homePage-section-1{
    margin-top:8rem;
  }
}

