
#NavbarTop-icon{
  background:url("../../../assets/img/logo.svg");
  background-repeat:no-repeat;
  background-size:contain;
  margin-top:0.5rem;
}
.NavbarTop-ul{
  font-size:0.5rem;
  margin-top:1rem;
}